header {
    background: linear-gradient(to right, yellow, red);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-logo img {
    height: 50px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
  }
  
  .nav-link:hover {
    background-color: lightgray;
  }
  